<div class="mx-20">
    <h2 class="text-2xl font-bold my-2">タスク詳細</h2>

    <div class="bg-gray-50 rounded-xl shadow p-6 space-y-3">
    <div>
        <div class="text-sm text-gray-500">タイトル</div>
        <div class="text-lg font-medium"><%= @task.title %></div>
    </div>

    <div>
        <div class="text-sm text-gray-500">期限</div>
        <div><%= l(@task.due_at, format: :long) %></div>
    </div>

    <% if @task.question_template_id.present? %>
      <div>
        <div class="text-sm text-gray-500">テンプレの質問</div>
        <div><%= @task.question_template&.body %></div>
      </div>
    <% end %>

    <% if @task.secret_post.present? %>
      <div>
        <div class="text-sm text-gray-500">公開される秘密</div>
        <div><%= @task.secret_post&.content %></div>
      </div>
    <% end %>

    <div>
        <div class="text-sm text-gray-500">ステータス</div>
        <span class="text-xs px-2 py-1 rounded
        <%= case @task.status
            when "pending" then "bg-yellow-100 text-yellow-800"
            when "completed" then "bg-green-100 text-green-800"
            else "bg-red-100 text-red-800"
            end %>">
        <%= @task.status_i18n %>
        </span>
    </div>
    </div>

    <div class="mt-6  flex flex-wrap gap-3">
      <% if @task.pending? %>
        <%= button_to "達成にする", complete_task_path(@task),
          method: :patch,
          class: "px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700" %>
        <%= button_to "未達成にする", not_complete_task_path(@task),
          method: :patch,
          onclick: "return confirm('本当に未達成として扱いますか？');",
          class: "px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700" %>
      <% elsif @task.completed? %>
        <span class="text-green-700 text-sm font-semibold">このタスクは達成済みです。</span>
      <% elsif @task.not_completed? %>
        <span class="text-red-700 text-sm font-semibold">このタスクは未達成です。</span>
      <% end %>
      <%= link_to "編集", edit_task_path(@task),
        class: "px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700" %>

      <%= button_to "削除", task_path(@task),
        method: :delete,
        onclick: "return confirm('本当に削除しますか？');",
        class: "px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700" %>

    </div>
</div>
